[submodule "roles/softwareraid"]
	path = roles/softwareraid
	url = https://github.com/jacoelho/ansible-softwareraid.git
[submodule "roles/ssmtp"]
	path = roles/ssmtp
	url = https://github.com/brisho/ansible-ssmtp.git
[submodule "roles/docker"]
	path = roles/docker
	url = https://github.com/angstwad/docker.ubuntu.git
